{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
  <h3>📌 Избранное</h3>
  <div class="row">
    {% for item in favorites %}
      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow">
          {% if item.images.first %}
            <img src="{{ item.images.first.image.url }}" class="card-img-top" alt="...">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ item.title }}</h5>
            <p class="card-text">{{ item.location }}</p>
            <p><strong>${{ item.price_usd }}</strong></p>
            <a href="{% url 'realestate_detail' item.pk %}" class="btn btn-primary">Посмотреть</a>
          </div>
        </div>
      </div>
    {% empty %}
      <p>Вы ещё не добавили ни одного объявления в избранное.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
