{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<html lang="ru">
<meta charset="UTF-8">
<title>Добавить объявление</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=ВАШ_API_КЛЮЧ" type="text/javascript"></script>

<style>
  #map { height: 400px; margin-bottom: 20px; }
</style>


<div class="container py-5">
  <h2 class="mb-4">Добавить новое объявление</h2>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}

  {{ form.non_field_errors }}

  <!-- Barcha maydonlarni qo‘lda chiqarish -->
  <div class="mb-3">
    {{ form.title.label_tag }} {{ form.title }}
  </div>

  <div class="mb-3">
    {{ form.type.label_tag }} {{ form.type }}
  </div>

  <div class="mb-3">
    {{ form.district.label_tag }} {{ form.district }}
  </div>

  <div class="mb-3">
    {{ form.status.label_tag }} {{ form.status }}
  </div>

  <div class="mb-3">
    {{ form.address.label_tag }} {{ form.address }}
  </div>



    <div id="map"></div>


  <div class="mb-3">
    {{ form.orientir.label_tag }} {{ form.orientir }}
  </div>

  <div class="mb-3">
    {{ form.rooms.label_tag }} {{ form.rooms }}
  </div>

  <div class="mb-3">
    {{ form.floor.label_tag }} {{ form.floor }}
  </div>

  <div class="mb-3">
    {{ form.total_floors.label_tag }} {{ form.total_floors }}
  </div>

  <div class="mb-3">
    {{ form.area.label_tag }} {{ form.area }}
  </div>

  <div class="mb-3">
    {{ form.condition.label_tag }} {{ form.condition }}
  </div>

  <div class="form-check mb-3">
    {{ form.has_balcony }} {{ form.has_balcony.label_tag }}
  </div>

  <div class="mb-3">
    {{ form.balcony_size.label_tag }} {{ form.balcony_size }}
  </div>

  <div class="form-check mb-3">
    {{ form.has_terrace }} {{ form.has_terrace.label_tag }}
  </div>

  <div class="form-check mb-3">
    {{ form.cadastral }} {{ form.cadastral.label_tag }}
  </div>

  <div class="form-check mb-3">
    {{ form.furniture }} {{ form.furniture.label_tag }}
  </div>

  <div class="form-check mb-3">
    {{ form.appliances }} {{ form.appliances.label_tag }}
  </div>

  <div class="mb-3">
    {{ form.price_usd.label_tag }} {{ form.price_usd }}
  </div>

  <div class="form-check mb-3">
    {{ form.mortgage_available }} {{ form.mortgage_available.label_tag }}
  </div>

  <div class="mb-3">
    {{ form.description.label_tag }} {{ form.description }}
  </div>

  <div class="mb-3">
    {{ form.phone.label_tag }} {{ form.phone }}
  </div>

  <div class="form-check mb-3">
    {{ form.is_approved }} {{ form.is_approved.label_tag }}
  </div>

  <div class="form-check mb-3">
    {{ form.is_favorite }} {{ form.is_favorite.label_tag }}
  </div>

  <div class="mb-3">
    {{ form.video.label_tag }} {{ form.video }}
  </div>

  <!-- Rasmlar -->
  <div class="mb-3">
    <label>Фотографии (до 10)</label>
    <input type="file" name="images" accept="image/*" multiple class="form-control">
  </div>

  <button type="submit" class="btn btn-success">Сохранить</button>
</form>

</div>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=3e0c91bd-d2cb-4581-9294-6ce44e90b5f3" type="text/javascript"></script>
<script>
  ymaps.ready(init);
  let myMap, myPlacemark;

  function init() {
    myMap = new ymaps.Map("map", {
      center: [41.311081, 69.240562],
      zoom: 12
    });

    function placeMarker(coords) {
      if (myPlacemark) {
        myPlacemark.geometry.setCoordinates(coords);
      } else {
        myPlacemark = new ymaps.Placemark(coords, {}, { draggable: true });
        myMap.geoObjects.add(myPlacemark);
        myPlacemark.events.add("dragend", function () {
          let newCoords = myPlacemark.geometry.getCoordinates();
          getAddressFromCoords(newCoords);
        });
      }
      getAddressFromCoords(coords);
    }

    document.getElementById('id_address').addEventListener('blur', function () {
      let address = this.value;
      if (address) {
        ymaps.geocode(address).then(function (res) {
          let coords = res.geoObjects.get(0).geometry.getCoordinates();
          placeMarker(coords);
          myMap.setCenter(coords, 16);
        });
      }
    });

    myMap.events.add('click', function (e) {
      let coords = e.get('coords');
      placeMarker(coords);
    });

    function getAddressFromCoords(coords) {
      ymaps.geocode(coords).then(function (res) {
        let firstGeoObject = res.geoObjects.get(0);
        if (firstGeoObject) {
          document.getElementById('id_address').value = firstGeoObject.getAddressLine();
        }
      });
    }
  }
</script>
{% endblock %}
