{% load static %}
{% load humanize %}
    <!-- Swiper slider container -->
    <div class="swiper popularSwiper">
        <div class="swiper-wrapper">
            {% for item in popular_listings %}
            <div class="swiper-slide">
                <div class="card h-100 border-0 shadow-sm hover-shadow position-relative">

                    {% if item.images.first %}
                    <a href="{% url 'real_estate_detail' item.id %}">
                        <img class="card-img-top" src="{{ item.images.first.image.url }}"
                             style="height:200px; object-fit:cover; border-radius:12px 12px 0 0;">
                    </a>
                    {% else %}
                    <img class="card-img-top" src="{% static 'img/no-image.png' %}"
                         style="height:200px; object-fit:cover; border-radius:12px 12px 0 0;">
                    {% endif %}

                    <div class="card-body d-flex flex-column">
                        <h6 class="card-title mb-1">{{ item.title|truncatechars:25 }}</h6>
                        <p class="card-text mb-1"><strong>Площадь:</strong> {{ item.area }} м²</p>
                        <p class="card-text mb-1"><strong>Цена:</strong> {{ item.price_usd|floatformat:0|intcomma }} $
                        </p>
                        <a class="btn btn-outline-primary btn-sm mt-auto" href="{% url 'real_estate_detail' item.id %}">
                            Подробнее
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- Slider navigation -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>

<!-- Swiper CSS & JS -->
<link href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
      var swiper = new Swiper(".popularSwiper", {
        loop: true,
        slidesPerView: 4,
        spaceBetween: 20,
        autoplay: {
          delay: 4000,
          disableOnInteraction: false,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        breakpoints: {
          0: { slidesPerView: 1 },   // telefon
          768: { slidesPerView: 2 }, // planshet
          992: { slidesPerView: 3 }, // kichik laptop
          1200: { slidesPerView: 4 } // katta ekran
        }
      });
    });
</script>
